
body {
   background-image: url(https://cdn.wallpapersafari.com/91/19/GI5ACq.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

h1 {
    font-size: 140px;
    color: white;
    font-family: fantasy;
    padding-top: 160px;
    margin-left: 40px;
}

.nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 999;
    
}

.nav ul {
    display: flex;
    list-style: none;
}
.nav li {
    margin-left: 40px;
    font-size: 60px;
    font-family: fantasy;
    padding-top: 50px;
}
.nav a {
    text-decoration: none;
    color: white;
}

section {
    height: 100vh;
    padding: 20px;
    
}



.Achievments {
    font-size: 100px;
    color: white;
    font-family: fantasy;
    margin-top: 300px;
}

.AboutMe {
    font-size: 100px;
    color: white;
    font-family: fantasy;
}
.menu li a {
    position: relative;
    padding-bottom: 5px;
}

.menu li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.25s ease-in-out;
}

.menu li a:hover::before {
    transform: scaleX(1);  
    transform-origin: bottom left;  
}

.AboutMeP {
    font-size: 30px;
    font-family: Liter;
    padding-left: 60px;
}

html {
    scroll-behavior: smooth;
}


@media only screen and (max-width: 800px) {


    body {
        background-image: url(https://cdn.wallpapersafari.com/91/19/GI5ACq.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }
     
     h1 {
         font-size: 60px;
         color: white;
         font-family: fantasy;
         padding-top: 240px;
         margin-left: 22px;
     }
     
     .nav {
         position: sticky;
         top: 0;
         width: 100%;
         display: flex;
         justify-content: flex-end;
         z-index: 999;
         
     }
     
     .nav ul {
         display: flex;
         list-style: none;
     }
     .nav li {
         margin-left: 40px;
         font-size: 20px;
         font-family: fantasy;
         padding-top: 20px;
     }
     .nav a {
         text-decoration: none;
         color: white;
     }
     
     section {
         height: 100vh;
         padding: 20px;
         
     }
     
     
     
     .Achievments {
         font-size: 50px;
         color: white;
         font-family: fantasy;
         margin-top: 440px;
     }
     
     .AboutMe {
         font-size: 50px;
         color: white;
         font-family: fantasy;
     }
     .menu li a {
         position: relative;
         padding-bottom: 5px;
     }
     
     .menu li a::before {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 2px;
         background-color: white;
         transform: scaleX(0); 
         transform-origin: bottom right;
         transition: transform 0.25s ease-in-out;
     }
     
     .menu li a:hover::before {
         transform: scaleX(1);  
         transform-origin: bottom left;  
     }
     
     .AboutMeP {
         font-size: 20px;
         font-family: Liter;
         padding-left: 10px;
     }
     
     html {
         scroll-behavior: smooth;
     }



}
